
                            /* le texte*/

H1{color: #ce8129;
text-align: center;
font-size: 2.5em;
font-family:'Montserrat Alternates';
font-style: bold;
background: linear-gradient(90deg, #885cda8c, #32be928e);
border: 2px dotted;
margin:30px;
margin-left: 500px;
margin-right: 500px;

padding: 30px;
}

h2, h3
{color:rgb(172, 95, 95);
margin: 20px;

}

h4{
    font-size: 1em;
    font-family: 'Montserrat Alternates';
}

p{color: black;
font-size: 1.2em;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 25px;
margin-top: 0px;
margin-top: 10px;
}


                                /* éléments peu présents */

.passion12{color: green;}
strong{color: pink;}

ul, ol{font-size: 01.1em;
    margin: auto;
    padding: auto;
    padding-left: 100px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

hi:focus{color: black;}


                                /* liens */
a{
    color: rgb(216, 167, 175);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 300;
}


.lesliens{
background-color: white;
padding: 10px;
margin-right: auto;
margin-left: auto;
border-radius: 15px;
text-align: left;
margin-top: 10px;

}

a:hover {color: green;
text-decoration: underline;
text-align: center;
}


                            /* arrière plan */

body{background-color: rgba(209, 191, 180, 0.692);}
#bolobody{
    background-color: rgba(130, 233, 130, 0.7);

}
#proposbody{background-color: rgba(211, 85, 85, 0.7);}

/*  logos insta, icone john, le groupe des résaux */



.reseaux{background-color: rgba(209, 191, 180, 0.692);
padding: 40px;
margin-left: 400px;
margin-right: 400px;
text-align: center;
}


.logo{width:70px;
height:70px;
border-radius: 45px;
text-align: top;}

#icone{width: 200px;
height: 200px;
border: 5px solid black;
margin: 30px;}

/*  IMAGES */

.image{width:600px;
height:600px;
border-radius: 30px;


margin:20px;
margin-left: 100px;
margin-right: 100px;
}


#groupimg{
    text-align: center;
}

/* envoie ta lettre */

#lettre{text-align: center;
background-image: url('images/citrons.jpg');
padding-top: 20px; 
padding-bottom: 100px;
padding-left: 0px;
padding-right: 0px;
background-position: left;
background-size: cover;
color: black;
font-style: oblique;
box-shadow: 6px 10px 20px black;
margin: 30px;
margin-left: 350px;
margin-right: 350px;
}

#lemessage{
    background-color: white;
    padding : 100px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em;
    border: 6px dotted grey;
}
.prenoms{
    background-color: white;
    padding : 30px;
    border-radius: 30px 50px 10px 0px;
    margin-left:40px;
    margin-right: 40px;
    border:12;
    font-size: 1em;
    font-style: italic;
}

.prenoms:hover {color: rgba(68, 68, 197, 0.815);
font-style: italic;}
#lemessage:hover{color: rgb(226, 77, 102);
    background: linear-gradient(90deg, #cc3da8, #1fa077);
    font-style:bold;}

#envoietalettre{
        background-color: grey;
        border: 20px 10px #2ebf91;
        color: black;
        padding: 20px;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 6px 6px 20px black;
}


/* spécial bolo */

aside{
display: flex;
flex-direction: row;    

padding: 20px;
background-color: grey;
border-radius: 23px;
box-shadow: 5px 10px 15px;
float: right;
width: 500px;
height: 1300 px;

}

#recettes{
    padding:auto;
    margin-left: 200px;
    margin-right: 200px;
    padding:20px;
    background-color: rgba(255, 255, 0, 0.349);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
